<p></p>
<h1 style="text-align:center;padding:50px 0 10px 0"><strong>Welcome to InspectBin!</strong></h1>
<h4 style="text-align:center;padding:0 0 50px 0" class="text-muted">InspectBin enables you to collect and inspect HTTP or webhook requests from popular apps.</h4>

<form method="GET" action="/{{url}}/inspect">
  <div class="d-grid gap-2 ">
    <button class="mx-auto btn btn-lg btn-outline-info" id="createBox" type="submit">Create a Bin</button>
  </div>
</form>